body {
    color: black;
    background: aliceblue;
    margin: 0px
}


header {
     border-bottom: solid 2px rgb(57,70,215,1);
     padding: 20px;
     font-size: 32px;
     color: rgb(0,225,255,1)
     
     }

 

section {
     background: rgb(118,120,225,1);
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;

}    

div {
     margin-right: 20px;

}




